@import '../../../node_modules/red-hat-brand-typography/scss/red-hat-typography';
@import '../../../node_modules/red-hat-brand-palette/scss/red-hat-palette';

#artwork {
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  overflow: hidden;
  margin: 0;

  .artwork-inner {
    position: relative;

    &:before {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }
  
  * { margin: 0; }
}
